fieldset {
    display: table;
}

fieldset > *:not([hidden]) {
    display: table-row;
}

fieldset > * > * {
    display: table-cell;
}

label:has(+ input)::after {
    content: ':';
}

input[type="radio"] {
    float: right;
}

code {
    word-break: break-all;
}

.item:has( #db-start:checked),
.item:has( #db-start:not(:checked)) ~ .item,
.item:has( input:checked:not([value="true"])) ~ .item:has( input[type="file"]) {
    display: none;
}

@media (min-width: 500px) {
    fieldset {
        width: 500px;
    }
}