:root {
    --c1: black;
    --c2: snow;
}

body {
    background-color: var(--c2);
    color: var(--c1);
}

h1 a {
    text-decoration: none;
}

table, th, td {
    border-width: 1px;
    border-style: solid;
}

form[action^="/book"] div:has( input:not([type="hidden"]):not([type="password"]):not(:valid)) {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

div:has( input:checked:not([value="true"])) ~ div:has( input[type="file"]) {
    display: none;
}