# object directory used by Makefile
/build/

# volume used by docer to persist sqlite3 database with docker-compose
/docker/

# environment variables
/.env

# Visual Studio Code files
/.vscode/
/__debug_bin

